/vendor
node_modules
public/storage
public/hot
public/error_log
storage/*.key

npm-debug.log
yarn-error.log
Homestead.yaml
Homestead.json
error_log
docker-compose.override.yml
csf.tar.gz
php.ini

.vscode
.env
.env.backup
.idea
.phpunit.result.cache
.vagrant
.user.ini
.phpunit.result.cache

themes/metronic/node_modules
